body{
	margin:0;
	background: #fff;

	font-family: Helvetica, Arial, sans-serif;
	font-weight: 100;

	color: #444;
	font-size: 25px;
	text-align: justify;

	line-height: 2.5em;

}
.
.section{
	padding: 30px;
	
}
.white.section{ background: #ADD8E6 }
.light-blue.section{ background: #000000; }
.dark-gray.section{ background: #ADD8E6; color: #000000; text-align: center; }


.section .content{
	width: 640px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: .5em; 
}
.verticalLine {
  border-left: thick solid #ff0000;
}
img.resize {
  width:1200px;
  height:550px;
}

.dark-gray .content, .black .content{
	font-size: 20px;
	line-height: 2em;
}

/**********

SPLASH

**********/

#splash{
	position: relative;
	padding:0;
	overflow:hidden;
	width:100%;
	height: 150px;
	padding-bottom: 75px;
}
#logo_container{
	
	width: 800px;
	height: 360px;

	position: absolute;
	margin: auto;
	top:0; left:0; right:0; bottom:0;

}
#logo_interactive{
	position: absolute;
    transform: scale(1.36,1.36);
    top: 65px;
    left: 165px;
}
#logo{
	position: absolute;
	top: 80px;
	width: 800px;
	height: 250px;s
	background-size: 100%;
	pointer-events: none;
}



/**********

INFORMATION:
- a "why" statement
- three features

**********/




/**********

EXAMPLES:

**********/

.cool_button{
	text-decoration:none;
	display: block;	
}
.cool_button > div{

	border: 2px solid #999;
	color: #555;

	text-align: center;
	text-decoration: none;
	line-height: 25px;

	width: 490px;
	height: 20px;
	padding: 15px;
	border-radius: 10px;

	margin: 0 auto;
	margin-top: 0px;

	cursor: pointer;

	position: relative;
	top: 0;

	transition: all 0.1s ease-in-out;

}
.cool_button:hover > div{
	border-color: #ccc;
	color: #999;
	top: -2px;
}
.cool_button:active > div{
	border-color: #666;
	color: #333;
	top: 2px;
}
#start_blank{
	width:520px; 
	margin: 0 auto;
}
#splash_buttons{
	width: 280px;
	margin: 0 auto;
	overflow: hidden;
	padding: 5px 0;
}
.splash_button{
	width: 140px;
	font-size: 20px;
	float: left;
}
.splash_button > div{
	width: 100px;
	line-height: 22px;
}
#final_button{
	width:400px; 
	margin: 0 auto;
}
#final_button > div{
	background: #ee3939;
	color: #fff;

	font-size: 35px;
	line-height: 35px;
	width: 360px;
	height: 30px;

	border:none;
	border-bottom: 4px solid rgba(0,0,0,0.25);
}
#final_button:hover > div{
	background: #ff4f4f;
	color: #fff;
}
#final_button:active > div{
	background: #aa1616;
	color: #fff;
}

/**********

CONCLUSION:

**********/

#uses{
	overflow: hidden;
	text-align: center;
}
#uses > img{
	width:120px;
}
#uses > img:nth-child(n+2){
	margin-left: 9px;
}

/**********

CREDITS:

**********/

.dark-gray a{
	color: hsl(2,40%,100%);
}
.dark-gray a:hover{
	color: hsl(0,80%,70%);
}

#sharing{
	text-align: center;
}

ul.share-buttons{
	display: inline-block;
	list-style: none;
	padding: 0;
}
ul.share-buttons li{
	display: inline;
	margin-right: -6px;
}