body{
	margin:0;
	background: #fff;

	font-family: Arial, Arial, cursive;
	font-weight: normal;
	font-size: 18px;

	overflow: hidden;
}
canvas{
	position:absolute;
	top:0; left:0;
}

#canvasses{
	position:absolute;
	top:0; left:0;
	width: calc(100% - 18%);
	height: 100%;
}
#canvasses[fullscreen=yes]{
	width: 100%;
}
#canvasses[cursor=ink]{
	cursor: url('cursors/ink.png') 0 30, auto;
}
#canvasses[cursor=drag]{
	cursor: url('cursors/drag.png') 15 15, auto;
}
#canvasses[cursor=erase]{
	cursor: url('cursors/erase.png') 5 25, auto;
}
#canvasses[cursor=label]{
	cursor: url('cursors/label.png') 15 15, auto;
}



/**********
 PLAY CONTROLS
**********/

/*#playbar{
	position: absolute;
	bottom: 15px;
	left: calc(50% - 275px); /* 50% - half of (playbar width + sidebar width)*/

/*width: 250px;
	height: 75px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#playbar[fullscreen=yes]{
	left: calc(50% - 125px); /* 50% - half of (playbar width)*/
/*}
#playbar .component_button{
	position: absolute;
	bottom: 0;
	width: 230px;
	height: 25px;
	background: #444;
}
#playbar .component_button:hover{
	background: #555;
}
#playbar .play_slider{
	width: 190px;
    position: absolute;
    left: 30px;
    margin: 0;
}
.play_button_icon{
	width: 25px;
	height: 25px;
	background-image: url(icons/controls.png);
	display: inline-block;
	background-size: 400% 100%;
}
.play_button_icon[icon="0"]{ background-position: 0 0; }
.play_button_icon[icon="1"]{ background-position: -25px 0; }
.play_button_icon[icon="2"]{ background-position: -50px 0; }
.play_button_icon[icon="3"]{ background-position: -75px 0; }
.play_button_label{
	display: inline-block;
	position: relative;
    top: -5px;
}
div[big=yes] .play_button_icon{
	width: 30px;
	height: 30px;
}
div[big=yes] .play_button_label{
	top: -3px;
}



/**********
 TOOLBAR 
**********/

#toolbar{
	position: absolute;
	left: calc(50% - 345px);
	top: calc(100% - 69px); /* 33% - half of toolbar height */

	width:385px; height:65px;
	padding: 5px;
	background-color: #ADD8E6; /* put #ddd to get back to original color */

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#toolbar[mode=play]{
	display: none;
}

.toolbar_button{
	width:50px; height:50px;
	margin: 5px;
	border: 2px solid #000000; /* put #ddd to get back to original color */
	cursor: pointer;
	background-size: 100% 100%;
	float: left;
}
.toolbar_button[selected=yes]{
	border: 2px solid #FFFFFF; /* put #888 to get back to original color */
	background-color: #FFFFFF; /* put #999 to get back to original color */
}
.toolbar_button[isDisabled=yes]{
	background-color: #648996;
}

/**********
 SIDEBAR 
**********/

#sidebar{
	position: absolute;
	top:0; right:0;
	width: 18%;
	height: 100%;
	background: #ADD8E6; /* put #ddd to get back to original color */

	font-weight: 100;
	font-size: 15px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#sidebar > div{
	margin: 25px;
}
#sidebar > div > div{
	margin-bottom: 25px;
}
#sidebar[mode=play]{
	background: #222;
	color: #777;
}
#sidebar .mini_button{
	background: #999; 
	color: #fff; 
	padding: 3px 5px;
	border-radius: 2px;
	font-size: 16px;
	margin-left:calc(14%);

	cursor: pointer;
}
#sidebar .mini_button:hover{
	background: #aaa;
}
#sidebar[mode=play] .mini_button{
	background: #555;
	color: #111;
}
#sidebar[mode=play] .mini_button:hover{
	background: #666;
}
#sidebar a{ color: #777; }
#sidebar a:hover{ color: #999; }
#sidebar hr{
	border: none;
	border-bottom: 2px solid rgba(150,150,150,0.5);
	width: 300px;
	position: relative;
	left:-25px;
	margin: 10px 0;
}
.component_input{
	border: none;
	
	width:calc(100% - 10px);
	height:22px;
	padding: 5px;
	
	font-size: 20px;
	font-weight: 100;
}
.component_textarea{
	border: none;
	width:calc(100% - 10px);
	height: 100px;
	padding: 5px;
	font-size: 20px;
	font-weight: 450;
}
.component_output{
	border: 1px solid #aaa;
	width:100%;
	background: #ccc;
	color: #666;
	font-size: 15px;
	font-weight: 100;
}
.component_slider{
	position: relative;
	width: 250px;
	height: 52px;
}
.component_slider_graphic{
	position: absolute;
	width: 200px;
	height: 40px;
	cursor: pointer;
}
.component_slider_pointer{
	position: absolute;
	top: 42px;
	width: 15px;
	height: 10px;
}
.component_label{
	margin-bottom: 5px;
	margin-left:calc(40%);
}
.component_button{

	width: calc(100% - 20px);
	background: #888;
	color: #fff;
	font-size: 20px;
	font-weight: 100;
	text-align: center;
	padding: 10px;
	border-radius: 5px;

	cursor: pointer;
}
.component_button:hover{
	background: #999;
}
.component_button[header=yes]{
	position: absolute;
	top:calc(100% - 40px); left:0;
	width: 240px;
	background: #222;
    border-radius: 0px;
    color: #888;
}
.component_button[header=yes]:hover{
	background: #444;
}



/**********

MODAL

**********/

#modal_container{
	display: none;
	position: absolute;
	width: 100%; height: 100%;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#modal_container[show=yes]{
	display: block;
}
#modal_bg{
	position: absolute;
	width: 100%; height: 100%;
	background: rgba(0,0,0,0.8);
}
#modal{

	position: absolute;
	top:0; left:0; right:0; bottom:0;
	margin: auto;

	width: 600px; height: 300px;
	padding: 10px;
	background: #ddd;
}
#modal_close{
	width: 120px;
	font-weight: 100;
	color: #777;
	cursor: pointer;
}
#modal_close:hover{
	color: #888;
}
#modal_page{
	margin: 15px;
	font-size: 25px;
	font-weight: 100;
	color: #333;
}
#modal iframe{
	border: none;
}
